body {
  font-family: wawati sc;
  margin-bottom: 400px;
}

a {
  text-decoration:none; 
}


.sub-title{
  margin-left: 20px;
}

.whole-wrapper{
  display: flex;
  padding: 0 1vw;
  margin-bottom: 5vh;
  width: 100%;
  background-image: url("/images/corkbord.jpeg");
}
.contents-wrapper{
  width: 80%;
}

.current-user-name{
  width: 100%;
  height: 5vh;
  font-size: 1.5vw;
  padding-left: 2vw;
}

.side-bar{
  width: 20%;
  height: 100%;
  margin-top: 5vh;
  padding: 3vw;
}

.new-post-link{
  font-size: 2vw;
  border: 3px solid red;
}

.index-contents{
  width: 18%;
  height: 40vh;
  margin: 0 0.5vw 3vh;
  /*background-image: url("透明背景メモ.png");
  -moz-background-size:100% 100%;
  background-size:100% 100%;*/
  
}

.form-message{
  margin: 0 5px;
}

.form-submit{
  margin-top: 5px;
}

.description{
  width: 100%;
  padding: 0 10%;
}

.description p, a{
  font-size: 0.8vw;
}

.picture-wrapper{
  width: 100%;
  height: 45%;
  /*position: relative;*/
  text-align: center;
  margin-top: 26%;
}

.picture-wrapper img{
}

/*.picture-pin{
  position: absolute;
  top: -9%;
  left: 40%;
  width: 3.5vw;
  height: 3.5wh;
}*/

.picture-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-size: 100%;
}

.index-title{
  text-align: center;
  font-size: 2vw;
  padding-bottom: 1vw;
}

.title{
  text-align: left;
  word-break: break-all;
}

.title p{
  font-size: 1.1vw;
  font-weight: bold;
}

.user-name{
  display: flex;
  justify-content: space-between;
}

.user-name a{
  font-size: 1.1vw;
  font-weight: bold;
}

.new-post-form{
  font-size: 1.1vw;
}

.post-message{
  margin: 1vh 0;
  font-size: 1.1vw;
}

.post-image-field{
  font-size: 1vw;
  width: 100%;
}

.field_with_errors {
  display: contents;
}

.favorite-count{
  display: flex;
  justify-content: flex-end;
}

.icon{
  display: flex;
  height: 3.5vh;
  padding: 2px 3px;
  font-size: 1.2vw;
}

.heart-icon{
 width: 1.5vw;
 padding-right: 2px;
}

@media (max-width: 1024px) {
  .index-contents{
    width: 25%;
  }
  
}

@media (max-width: 550px) {
  .index-contents{
    width: 40%;
  }
}

