.show-header{
  width: 100%;
  height: 30vh;
  margin-bottom: 2vh;
}

.status-form{
  display: flex;
  height: 5vh;
  margin-left: 3vw;
}
.change-status{
  font-size: 1.3vw;
}

.hidden{
  display: none;
}

.show-picture{
  position: relative;
  max-width: 70vw;
}

.memo-info {
  display: none;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
  margin: -8vh 0 0 2.7vw;
  white-space: nowrap;
  cursor: default;
}

.memo-info:after{
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 15%;
  left: -29px;
  margin-left: 13px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-right-color: #33cc99;
  border-width: 10px;
  content: " ";
  z-index: 10;
}

.marker:hover + .memo-info {
  display: block;
}

.memo-info p{
  font-size: 1vw;
}

.marker{
  z-index: 5;
  font-size: 3vw;
  cursor: pointer;
}

.show-wrapper {
  width: 100%;
  padding-left: 3vw;
}

.picture-form-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 300px;
}

.form-wrapper{
  width: 25%;
  margin-top: 5vh;
}

.form-input{
  width: 100%;
  height: auto;
}

.memo-picture{
  max-width: 15vw;
  max-height: 15vw;
  margin: 3px;
}

.main-picture {
  width: 100%;
  display: block;
}

#memo-switch{
  height: 4.3vh;
  display: table;
  font-size: 1em;
}

.destroy-link{
  font-size: 1.3vw;
  margin: 0 1vw;
}

.picture-title{
  font-size: 1.7vw;
  text-align: center;
}

.title-picture-wrapper{
  display: inline-block;
}

.sub-contents{
  display: flex;
  justify-content: space-between;
}

.pin{
  width: 3vw;
}

.memo-form-image{
  width: 100%;
}

.favorite-memo-switch{
  display: flex;
}

.favorite-change{
  height: 4.3vh;
  display: table;
  font-size: 1em;
}

.my-list{
  width: 10vw;
  display: none;
  border: 1px solid black;
}
